.RadMenu_Metro {
    color: black;
    font: normal 12px "Segoe UI", Arial, Helvetica, sans-serif;
    line-height: 22px;
    text-transform: uppercase;
}

.RadMenu_Metro div.rmRootGroup,
.RadMenu_Metro ul.rmRootGroup {
    background-color: #25a0da;
    padding: 1px;
}

.RadMenu_Metro .rmGroup {
    background-color: white;
    border: 1px solid #e5e5e5;
    padding: 1px;
}

.RadMenu_Metro .rmRootGroup .rmGroup { padding: 1px; }

.RadMenu_Metro .rmRoundedCorners ul.rmGroup,
.RadMenu_Metro .rmRoundedCorners ul.rmGroup { border: 1px solid #cdcdcd; }

.RadMenu_Metro .rmRoundedCorners ul.rmGroup,
.RadMenu_Metro .rmRoundedCorners ul.rmGroup,
.RadMenu_Metro .rmRoundedCorners .rmItem .rmGroup { padding: 2px; }

.RadMenu_Metro .rmLink {
    margin: 0;
    text-decoration: none;
}

.RadMenu_Metro .rmRootLink {
    border: 1px solid transparent;
    color: #ffffff;
    font-size: 14px;
    padding: 0 10px;
    text-transform: lowercase;
}

.RadMenu_Metro .rmRootLink:hover { border-color: #92cfec; }

.RadMenu_Metro .rmFocused,
.RadMenu_Metro .rmFocused:hover,
.RadMenu_Metro .rmSelected,
.RadMenu_Metro .rmSelected:hover { border-color: #ffffff; }

.RadMenu_Metro .rmDisabled,
.RadMenu_Metro .rmDisabled:hover {
    border-color: #25a0da;
    color: #8aceec;
}

.RadMenu_Metro .rmGroup .rmLink {
    border: 0;
    color: black;
}

.RadMenu_Metro .rmGroup .rmLink:hover {
    background-color: #e5e5e5;
    border-color: #e5e5e5;
    color: black;
}

.RadMenu_Metro .rmGroup .rmFocused, .RadMenu_Metro .rmGroup .rmFocused:hover,
.RadMenu_Metro .rmGroup .rmSelected,
.RadMenu_Metro .rmGroup .rmSelected:hover,
.RadMenu_Metro .rmGroup .rmExpanded,
.RadMenu_Metro .rmGroup .rmExpanded:hover {
    background-color: #25a0da;
    border-color: #25a0da;
    color: white;
}

.RadMenu_Metro .rmGroup .rmDisabled, .RadMenu_Metro .rmGroup .rmDisabled:hover {
    background-color: transparent;
    color: #767676;
}

.RadMenu_Metro .rmText {
    margin: 0;
    padding: 0;
}

.RadMenu_Metro .rmRootLink .rmText { padding: 0; }

.RadMenu_Metro .rmLeftImage { padding-bottom: 2px; }

.RadMenu_Metro .rmGroup .rmLeftImage {
    margin: 2px 0 0 6px;
    *margin: 2px 0 0 3px;
}

.RadMenu_Metro .rmExpandTop,
.RadMenu_Metro .rmExpandDown,
.RadMenu_Metro .rmExpandRight,
.RadMenu_Metro .rmExpandLeft {
    background-image: url('Menu/rmExpandArrows.png');
    background-repeat: no-repeat;
}

.RadMenu_Metro .rmRootLink .rmExpandRight,
.RadMenu_Metro .rmRootLink .rmExpandLeft {
    margin-right: -10px;
    padding-right: 24px;
}

.RadMenu_Metro .rmRootLink .rmExpandTop,
.RadMenu_Metro .rmRootLink .rmExpandDown { background: none; }

.RadMenu_Metro .rmRootLink .rmExpandTop { background-position: right -193px; }

.RadMenu_Metro .rmRootLink .rmExpandDown { background-position: right -217px; }

.RadMenu_Metro .rmRootLink .rmExpandRight { background-position: right -265px; }

.RadMenu_Metro .rmRootLink .rmExpandLeft { background-position: right -241px; }

.RadMenu_Metro .rmGroup .rmExpandTop { background-position: right -2px; }

.RadMenu_Metro .rmGroup .rmFocused .rmExpandTop,
.RadMenu_Metro .rmGroup .rmSelected .rmExpandTop,
.RadMenu_Metro .rmGroup .rmExpanded .rmExpandTop { background-position: right -193px; }

.RadMenu_Metro .rmGroup .rmExpandDown { background-position: right -25px; }

.RadMenu_Metro .rmGroup .rmFocused .rmExpandDown,
.RadMenu_Metro .rmGroup .rmSelected .rmExpandDown,
.RadMenu_Metro .rmGroup .rmExpanded .rmExpandDown { background-position: right -217px; }

.RadMenu_Metro .rmGroup .rmExpandRight { background-position: right -73px; }

.RadMenu_Metro .rmGroup .rmFocused .rmExpandRight,
.RadMenu_Metro .rmGroup .rmSelected .rmExpandRight,
.RadMenu_Metro .rmGroup .rmExpanded .rmExpandRight { background-position: right -265px; }

.RadMenu_Metro .rmGroup .rmExpandLeft { background-position: right -49px; }

.RadMenu_Metro .rmGroup .rmFocused .rmExpandLeft,
.RadMenu_Metro .rmGroup .rmSelected .rmExpandLeft,
.RadMenu_Metro .rmGroup .rmExpanded .rmExpandLeft { background-position: right -241px; }

.RadMenu_Metro .rmTopArrow,
.RadMenu_Metro .rmBottomArrow,
.RadMenu_Metro .rmLeftArrow,
.RadMenu_Metro .rmRightArrow {
    background-image: url('Menu/rmExpandArrows.png');
    background-repeat: no-repeat;
}

.RadMenu_Metro .rmRootGroup .rmTopArrow,
.RadMenu_Metro .rmRootGroup .rmBottomArrow,
.RadMenu_Metro .rmRootGroup .rmLeftArrow,
.RadMenu_Metro .rmRootGroup .rmRightArrow {
    background-color: #92cfec;
    border-color: #25a0da;
}

.RadMenu_Metro .rmRootGroup .rmLeftArrow,
.RadMenu_Metro .rmRootGroup .rmRightArrow { height: 26px; }

.RadMenu_Metro .rmGroup .rmTopArrow,
.RadMenu_Metro .rmGroup .rmBottomArrow,
.RadMenu_Metro .rmGroup .rmLeftArrow,
.RadMenu_Metro .rmGroup .rmRightArrow {
    background-color: #f9f9f9;
    border-color: #e5e5e5;
    color: black;
}

.RadMenu_Metro .rmGroup .rmTopArrow:hover,
.RadMenu_Metro .rmGroup .rmBottomArrow:hover,
.RadMenu_Metro .rmGroup .rmLeftArrow:hover,
.RadMenu_Metro .rmGroup .rmRightArrow:hover {
    background-color: #e5e5e5;
    border-color: #e5e5e5;
    color: black;
}

.RadMenu_Metro .rmGroup .rmLeftArrow,
.RadMenu_Metro .rmGroup .rmRightArrow { height: 24px; }

.RadMenu_Metro .rmTopArrow {
    background-position: 50% -7px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.RadMenu_Metro .rmBottomArrow {
    background-position: 50% -31px;
    border-top-style: solid;
    border-top-width: 1px;
}

.RadMenu_Metro .rmLeftArrow {
    background-position: 50% -48px;
    border-right-style: solid;
    border-right-width: 1px;
}

.RadMenu_Metro .rmRightArrow {
    background-position: 50% -72px;
    border-left-style: solid;
    border-left-width: 1px;
}

.RadMenu_Metro .rmSeparator { padding: 1px; }

.RadMenu_Metro .rmSeparator .rmText { background-color: #e5e5e5; }

.RadMenu_Metro .rmVertical .rmSeparator .rmText,
.RadMenu_Metro .rmHorizontal .rmVertical .rmSeparator .rmText {
    margin-top: 2px;
    padding-bottom: 1px;
}

.RadMenu_Metro .rmHorizontal .rmSeparator .rmText,
.RadMenu_Metro .rmVertical .rmHorizontal .rmSeparator .rmText {
    margin-left: 1px;
    margin-right: 1px;
    padding: 0;
    width: 1px;
}

.RadMenu_Metro_rtl .rmVertical .rmText {
    padding-left: 30px;
    padding-right: 0;
}

.RadMenu_Metro_rtl .rmRootLink .rmExpandRight,
.RadMenu_Metro_rtl .rmRootLink .rmExpandLeft {
    margin-left: -10px;
    margin-right: 0;
    padding-left: 24px;
    padding-right: 0;
}

.RadMenu_Metro_rtl .rmRootLink .rmExpandTop,
.RadMenu_Metro_rtl .rmRootLink .rmExpandDown { background: none; }

.RadMenu_Metro_rtl .rmRootLink .rmExpandTop { background-position: left -192px; }

.RadMenu_Metro_rtl .rmRootLink .rmExpandDown { background-position: left -216px; }

.RadMenu_Metro_rtl .rmRootLink .rmExpandRight { background-position: left -264px; }

.RadMenu_Metro_rtl .rmRootLink .rmExpandLeft { background-position: left -240px; }

.RadMenu_Metro .rmTopFix,
.RadMenu_Metro .rmTopLeft,
.RadMenu_Metro .rmTopRight,
.RadMenu_Metro .rmBottomFix,
.RadMenu_Metro .rmBottomLeft,
.RadMenu_Metro .rmBottomRight { display: none; }

/* RTL mode */

.RadMenu_Metro_rtl .rmGroup .rmExpandTop { background-position: left -1px; }

.RadMenu_Metro_rtl .rmGroup .rmFocused .rmExpandTop,
.RadMenu_Metro_rtl .rmGroup .rmSelected .rmExpandTop,
.RadMenu_Metro_rtl .rmGroup .rmExpanded .rmExpandTop { background-position: left -192px; }

.RadMenu_Metro_rtl .rmGroup .rmExpandDown { background-position: left -24px; }

.RadMenu_Metro_rtl .rmGroup .rmFocused .rmExpandDown,
.RadMenu_Metro_rtl .rmGroup .rmSelected .rmExpandDown,
.RadMenu_Metro_rtl .rmGroup .rmExpanded .rmExpandDown { background-position: left -216px; }

.RadMenu_Metro_rtl .rmGroup .rmExpandRight { background-position: left -72px; }

.RadMenu_Metro_rtl .rmGroup .rmFocused .rmExpandRight,
.RadMenu_Metro_rtl .rmGroup .rmSelected .rmExpandRight,
.RadMenu_Metro_rtl .rmGroup .rmExpanded .rmExpandRight { background-position: left -264px; }

.RadMenu_Metro_rtl .rmGroup .rmExpandLeft { background-position: left -48px; }

.RadMenu_Metro_rtl .rmGroup .rmFocused .rmExpandLeft,
.RadMenu_Metro_rtl .rmGroup .rmSelected .rmExpandLeft,
.RadMenu_Metro_rtl .rmGroup .rmExpanded .rmExpandLeft { background-position: left -240px; }

.RadMenu_Metro .rmHorizontal .rmRootLink .rmToggle {
    margin-left: -8px;
    position: relative;
    right: -8px;
}

.RadMenu_Metro .rmHorizontal .rmRootLink .rmIcon {
    background-image: url('Menu/rmExpandArrows.png');
    background-position: 50% -27px;
}