.RadAjax_Windows7 .raDiv { background-image: url('Common/loading.gif'); }

.RadAjax_Windows7 .raColor {
    background-color: #dde9f7;
    color: black;
}

.RadAjax_Windows7 .raTransp {
    -moz-opacity: 0.6;
    filter: alpha(opacity=60);
    opacity: 0.6;
}