.RadComboBox_Metro {
    color: black;
    font: normal 12px/16px "Segoe UI", Arial, Helvetica, sans-serif;
}

.RadComboBox_Metro .rcbInputCell,
.RadComboBox_Metro .rcbArrowCell { border: 1px solid; }

.RadComboBox_Metro .rcbInputCell {
    background-color: white;
    border: 1px solid #e5e5e5;
    border-color: #e5e5e5;
    color: black;
}

.RadComboBox_Metro table td.rcbInputCell { border-width: 1px; }

.RadComboBox_Metro table td.rcbInputCellLeft { border-right-width: 0; }

.RadComboBox_Metro table td.rcbInputCellRight { border-left-width: 0; }

.RadComboBox_Metro .rcbInput {
    color: black;
    font: normal 12px "Segoe UI", Arial, Helvetica, sans-serif;
    margin: 0;
}

.RadComboBox_Metro .rcbEmptyMessage {
    color: #bbbbbb;
    font-style: italic;
}

.RadComboBox_Metro .rcbArrowCell {
    background-color: #f9f9f9;
    border-color: #e5e5e5;
    color: black;
}

.RadComboBox_Metro .rcbArrowCell a {
    background-image: url('Common/radActionsSprite.png');
    background-position: -1px -19px;
    background-repeat: no-repeat;
}

.RadComboBox_Metro table td.rcbArrowCell { border-width: 1px; }

.RadComboBox_Metro .rcbHovered .rcbInputCell {
    background-color: white;
    border-color: #767676;
    color: black;
}

.RadComboBox_Metro .rcbHovered .rcbArrowCell {
    background-color: #e5e5e5;
    border-color: #e5e5e5;
    color: black;
}

.RadComboBox_Metro .rcbFocused .rcbInputCell {
    background-color: white;
    border-color: #25a0da;
    color: black;
}

.RadComboBox_Metro .rcbFocused .rcbInput { color: black; }

.RadComboBox_Metro .rcbFocused .rcbArrowCell {
    background-color: #25a0da;
    border-color: #25a0da;
    color: white;
}

.RadComboBox_Metro .rcbFocused .rcbArrowCell a { background-position: -41px -19px; }

.RadComboBox_Metro .rcbReadOnly .rcbInputCell {
    background-color: #f9f9f9;
    border-color: #e5e5e5;
    color: black;
}

.RadComboBox_Metro .rcbReadOnly .rcbArrowCellLeft { border-right: 0; }

.RadComboBox_Metro .rcbReadOnly .rcbArrowCellRight { border-left: 0; }

.RadComboBox_Metro .rcbHovered .rcbReadOnly .rcbInputCell {
    background-color: #e5e5e5;
    border-color: #e5e5e5;
    color: black;
}

.RadComboBox_Metro .rcbHovered .rcbReadOnly .rcbInput { color: black; }

.RadComboBox_Metro .rcbFocused .rcbReadOnly .rcbInputCell {
    background-color: #25a0da;
    border-color: #25a0da;
    color: white;
}

.RadComboBox_Metro .rcbFocused .rcbReadOnly .rcbInput { color: white; }

.RadComboBox_Metro .rcbDisabled { opacity: .5; }

.RadComboBoxDropDown_Metro {
    background: white;
    border-color: #cdcdcd;
    color: black;
    font: normal 12px/16px "Segoe UI", Arial, Helvetica, sans-serif;
}

.RadComboBoxDropDown_Metro .rcbHeader,
.RadComboBoxDropDown_Metro .rcbFooter {
    background-color: #e8e8e8;
    color: black;
}

.RadComboBoxDropDown_Metro .rcbHeader { border-bottom-color: #cdcdcd; }

.RadComboBoxDropDown_Metro .rcbFooter { border-top-color: #cdcdcd; }

.RadComboBoxDropDown_Metro .rcbHovered {
    background-color: #e8e8e8;
    color: black;
}

.RadComboBoxDropDown_Metro .rcbSelected {
    background-color: #25a0da;
    color: white;
}

.RadComboBoxDropDown_Metro .rcbDisabled { opacity: .5; }

.RadComboBoxDropDown_Metro .rcbLoading {
    background-color: #e8e8e8;
    color: black;
}

.RadComboBoxDropDown_Metro .rcbItem em,
.RadComboBoxDropDown_Metro .rcbHovered em {
    background-color: #e8e8e8;
    color: black;
}

.RadComboBoxDropDown_Metro .rcbCheckAllItems,
.RadComboBoxDropDown_Metro .rcbCheckAllItemsHovered {
    background-color: #e8e8e8;
    background-image: none;
}

.RadComboBoxDropDown_Metro .rcbMoreResults a {
    background-image: url('Common/radActionsSprite.png');
    background-position: -2px -22px;
}

.RadComboBoxDropDown_Metro .rcbSeparator {
    background: #e8e8e8;
    color: white;
}