/* <RadToolBar / Default> */
.RadToolBar_Metro .rtbOuter {
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    padding: 1px;
}

/* <buttons> */

.RadToolBar_Metro .rtbWrap,
.RadToolBar_Metro .rtbTemplate {
    color: #767676;
    font: normal 12px/20px "Segoe UI", Arial, sans-serif;
}

.RadToolBar_Metro .rtbItem .rtbWrap { padding: 3px; }

.RadToolBar_Metro .rtbItem .rtbMid,
.RadToolBar_Metro .rtbItem .rtbIn { padding: 0; }

.RadToolBar_Metro .rtbDropDown .rtbVOriented { padding-right: 20px; }

/* <button states> */

.RadToolBar_Metro .rtbSplBtnFocused .rtbWrap,
.RadToolBar_Metro .rtbItemFocused .rtbWrap,
.RadToolBar_Metro .rtbItemHovered .rtbWrap {
    background-color: #e8e8e8;
    color: black;
}

.RadToolBar_Metro .rtbItemClicked .rtbWrap,
.RadToolBar_Metro .rtbSplBtnExpanded .rtbWrap,
.RadToolBar_Metro .rtbDropDownExpanded .rtbWrap,
.RadToolBar_Metro .rtbChecked .rtbWrap,
.RadToolBar_Metro li.rtbChecked .rtbWrap:hover {
    background-color: #249fd9;
    border: 1px solid #249fd9;
    color: #ffffff;
    padding: 2px;
}

/* </button states> */
/* <Drop Down Arrows> */

html .RadToolBar_Metro .rtbSplBtn .rtbChoiceArrow,
html .RadToolBar_Metro .rtbItem .rtbVOriented .rtbChoiceArrow,
html .RadToolBar_Metro .rtbIn .rtbChoiceArrow {
    background-image: url('Common/radActionsSprite.png');
    background-position: -1px -20px;
}

html .RadToolBar_Metro .rtbItemHovered .rtbChoiceArrow,
html .RadToolBar_Metro .rtbItemHovered .rtbVOriented .rtbChoiceArrow,
html .RadToolBar_Metro .rtbInHovered .rtbChoiceArrow { background-position: -21px -20px; }

.RadToolBar_Metro .rtbSplBtn .rtbExpandUp .rtbChoiceArrow,
.RadToolBar_Metro .rtbItem .rtbExpandUp .rtbVOriented .rtbChoiceArrow,
.RadToolBar_Metro .rtbExpandUp .rtbChoiceArrow {
    background-image: url('Common/radActionsSprite.png');
    background-position: -1px 0px;
}

.RadToolBar_Metro .rtbItemHovered .rtbExpandUp .rtbVOriented .rtbChoiceArrow { background-position: -21px 0px; }

.RadToolBar_Metro .rtbSplBtnClicked .rtbVOriented .rtbChoiceArrow,
.RadToolBar_Metro .rtbSplBtnClicked .rtbChoiceArrow,
.RadToolBar_Metro .rtbItemClicked .rtbVOriented .rtbChoiceArrow,
.RadToolBar_Metro .rtbItemClicked .rtbChoiceArrow {
    background-color: transparent;
    background-image: url('ToolBar/rtbClickedDropArrows.png');
    background-repeat: no-repeat;
}

.RadToolBar_Metro .rtbSplBtnClicked .rtbExpandUp .rtbChoiceArrow,
.RadToolBar_Metro .rtbItemClicked .rtbExpandUp .rtbChoiceArrow { background-image: url('ToolBar/rtbClickedUpArrows.png'); }

/* </Drop Down Arrows> */

.RadToolBar_Metro_Horizontal li.rtbSeparator {
    background: #e5e5e5;
    border: 0;
    margin-left: 1px;
}

.RadToolBar_Metro_Vertical li.rtbSeparator {
    background: #e5e5e5;
    border: 0;
    margin-top: 1px;
}

/* </buttons> */
/* <disabled states> */

.RadToolBar_Metro .rtbDisabled .rtbWrap:hover,
.RadToolBar_Metro .rtbDisabled .rtbWrap:hover .rtbOut,
.RadToolBar_Metro .rtbDisabled .rtbWrap:hover .rtbMid,
.RadToolBar_Metro .rtbDisabled .rtbWrap:hover .rtbIn { background: none; }

/* </disabled states */
/* <drop-down> */

div.RadToolBarDropDown_Metro {
    background-color: #ffffff;
    border-color: #e5e5e5;
    margin-top: 4px;
}

.RadToolBarDropDown_Metro .rtbWrap,
.RadToolBarDropDown_Metro .rtbTemplate {
    color: #767676;
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 11px;
    font-weight: normal;
    text-transform: uppercase;
}

.RadToolBarDropDown_Metro .rtbGroup .rtbItem { padding-left: 1px; }

.RadToolBarDropDown_Metro .rtbGroup .rtbItem .rtbWrap {
    border: 0;
    margin-right: 1px;
    padding: 1px 3px 1px 35px;
}

.RadToolBarDropDown_Metro_rtl .rtbGroup .rtbItem .rtbWrap { padding: 1px 35px 1px 3px; }

.RadToolBarDropDown_Metro .rtbGroup .rtbItemHovered { background-color: #e8e8e8; }

.RadToolBarDropDown_Metro_rtl .rtbGroup .rtbItemHovered .rtbWrap,
.RadToolBarDropDown_Metro_rtl .rtbGroup .rtbItemFocused .rtbWrap {
    color: black;
    padding: 0 34px 0 2px;
}

.RadToolBarDropDown_Metro_rtl .rtbGroup .rtbItemHovered .rtbIcon,
.RadToolBarDropDown_Metro_rtl .rtbGroup .rtbItemFocused .rtbIcon {
    left: auto;
    right: 4px;
}

.RadToolBarDropDown_Metro .rtbDisabled .rtbWrap { color: #e5e5e5; }

.RadToolBarDropDown_Metro .rtbSeparator {
    background-color: #e5e5e5;
    border-color: #e5e5e5;
}

/* </drop-down> */
/* </RadToolBar / Default> */